/* Overall webpage styling - Element Selector*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Container for webpage - Class Selector*/
.container {
    width: 80%;
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styling */
header {
    background: #75a1bd;
    color: #ffffff;
    padding: 20px 0 ;
    min-height: 70px;
    text-align: center;
}   

header h1 {
    margin: 0;
    font-size: 24px;
}

/* Navigation styling */
nav {
    background: #e48c73;
    padding: 10px;
}

nav ul {
    list-style: none; /* No bullet points */
    padding: 0;
    margin: 0;
    display: flex; /* Flexbox for horizontal layout */
    justify-content: center; /* Center the nav items */
}   

/* Space between nav items */
nav ul li {
    margin: 0 15px; 
}   

nav a {
    color: #5b9bd5;
    text-decoration: underline;
}

/* Styling for tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Hover function for better readability */
tbody tr:hover {
    background-color: #f9f9f9;
}   

/* Link styling (Pseudo-class Selector) */
nav a:hover {
    text-decoration: underline;
}

/* Styling for main content and footer */
main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 15px 0;
    background-color: #746c6c;
    border-top: 20px;
    font-size: small;
}

/* Styling for key terms */
dt {
    font-weight: bold;
    margin-top: 10px;
}

dd {
    margin-left: 20px;
    margin-bottom: 10px;
}